<div class="widget">
    <h4 class="title">Twitter Timeline</h4>
    <div class="content">
        {{>widgets/twitter}}
    </div>
</div>

<div class="widget">
    <h4 class="title">Recent Posts</h4>
    <div class="content">
        {{>widgets/recent-posts}}
    </div>
</div>

<div class="widget">
    <h4 class="title">Frequent Tags</h4>
    <div class="content">
        {{>widgets/tags}}
    </div>
</div>

<div class="widget">
    <h4 class="title">Instagram Gallery</h4>
    <div class="content">
        {{>widgets/instagram}}
    </div>
</div>


{{!-- <div class="widget">
    <h4 class="title">Recent Post</h4>
    <div class="content recent-post">

        <div class="recent-single-post">
            <a href="http://futura.gbjsolution.com/welcome-on-futura/" class="post-title">Welcome on Futura</a>
            <div class="date">February 4, 2015</div>
        </div>
        <div class="recent-single-post">
            <a href="http://futura.gbjsolution.com/focused-on-content/" class="post-title">Focused on Content</a>
            <div class="date">February 4, 2015</div>
        </div>
        <div class="recent-single-post">
            <a href="http://futura.gbjsolution.com/plain-text-post/" class="post-title">Plain Text Post</a>
            <div class="date">February 4, 2015</div>
        </div>
    </div>
</div> --}}